Source: accomplishments-daemon
Section: python
Priority: extra
Build-Depends: cdbs (>= 0.4.43),
 debhelper (>= 6),
 python (>= 2.6.6-3~),
 python-distutils-extra (>= 2.10)
Maintainer: Jono Bacon <jono@ubuntu.com>
Standards-Version: 3.9.3
XS-Python-Version: current

Package: accomplishments-daemon
Architecture: all
XB-Python-Version: ${python:Versions}
Depends: ${misc:Depends},
 ${python:Depends},
 python-xdg,
 gir1.2-gtk-3.0,
 python-dbus,
 python-ubuntuone-client,
 ubuntuone-couch,
 python-twisted-core,
 python-notify,
 python-gobject-2,
 ubuntuone-client,
 python-gpgme
Description: Background daemon for running the Ubuntu Accomplishments system.
 This is the background daemon process that is required to run the Ubuntu
 Accomplishments system.
